<h1><%= @skill.name %></h1>

<%= link_to 'Back', root_path, class: "btn btn-primary" %>
<%= link_to "Edit", edit_skill_path(@skill), class: "btn btn-primary"%>
<%= link_to "Delete", skill_path(@skill), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
